:root {
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #f3f4f6;
  background-color: #16171d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  min-height: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background-color: #16171d;
}

#root {
  min-height: 100vh;
}

button,
input,
select,
textarea {
  font: inherit;
}